/*
gradient animation adapted from https://www.gradient-animator.com/
parallax scrolling adapted from https://codepen.io/ravid7000/pen/LREEzv !! :)
*/

/*--fonts--*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*--text styles--*/

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 00;
	font-size: 5em;
	font-style: italic;
	overflow: visible;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3.5em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke: 1.5px black;
	-webkit-text-fill-color: transparent;
	line-height: 1;
	/*--vv fallback for unsupported browsers-*/
	color: white;
}

.light {
	-webkit-text-stroke: 1.5px white;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
	text-transform: uppercase;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: 1px;
}

ul {
	list-style: none;
}

/*--links--*/

a {
	text-decoration: none;
	text-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #d88485, #d88485 50%, yellow 50%);
	background-size: 200% 100%;
	background-position: 100%;
	transition: all 0.4s ease-out;
}

a:before {
	background: #d88485;
	transition: all 0.4s ease-out;
}

a:hover {
	background-position: 0%;
}

a:hover:before {
	width: 100%;
}

.fixed a {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	text-transform: lowercase;
	font-weight: bolder;
}

.thoughts a {
	text-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}

/*--margins--*/

body {
	padding: 0;
	margin: 0;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.thoughts {
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 25%;
	margin-bottom: 10%;
}

/*--parallax scrolling--*/

.section {
	text-align: left;
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: 4px;
	overflow: visible;
	clip: rect(0, auto, auto, 0);
}

.section .fixed {
	overflow: visible;
	position: fixed;
	left: 30%;
	right: 14%;
	top: 25%;
}

/*--title section--*/

.section:nth-child(1) {
	background-color: #e0e3d4;
	color: #000;
	top: 0;
	z-index: 1;
}

.section:nth-child(1) .fixed {
	transform: translate(-50%, -30%);
}

/*--presentation section--*/

.section:nth-child(2) {
	background-color: #b8cac9;
	color: #222;
	top: 100vh;
	z-index: 2;
}

.section:nth-child(2) .fixed {
	transform: translate(-10%, -50%);
}

/*--projects section--*/

.section:nth-child(3) {
	color: #fff;
	top: 200vh;
	z-index: 3;
	text-align: right;
}

.section:nth-child(3) .fixed {
	transform: translate(-20%, -28%);
}

/*--exercises section--*/

.section:nth-child(4) {
	background-color: #d6c5c5;
	color: #222;
	top: 300vh;
	z-index: 4;
}

.section:nth-child(4) .fixed {
	transform: translate(-40%, -25%);
}

/*--thoughts section--*/

.section:nth-child(5) {
	color: #fff;
	top: 400vh;
	z-index: 5;
}

.section:nth-child(5) .fixed {
	transform: translate(20%, -50%);
}

/*--text overlay gradient--*/

.gradient-text {
	background-color: #5c4169;
	background-image: linear-gradient(90deg, #d88485, #643977, #221e53);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;

	-webkit-animation: gradient-text 9s ease infinite;
	-moz-animation: gradient-text 9s ease infinite;
	animation: gradient-text 9s ease infinite;
}

@-webkit-keyframes gradient-text {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradient-text {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes gradient-text {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/*--gradient background--*/

.section.gradient-bg {
	background-image: linear-gradient(120deg, #d88485, #643977, #221e53);
	background-size: 200% 200%;

	-webkit-animation: gradient-bg 12s ease infinite;
	-moz-animation: gradient-bg 12s ease infinite;
	animation: gradient-bg 12s ease infinite;
}

@-webkit-keyframes gradient-bg {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradient-bg {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/*--previews on hover--*/

img {
	position: absolute;
	opacity: 0.7;
}

/* -- this will be for p5 --
.sketch {
	left: 70%;
	overflow: hidden;
	top: 30%;
	display: none;
}
*/

#preview-hn {
	width: 60%;
	right: 40%;
	top: 10%;
	overflow: hidden;
	display: none;
}

#preview-proj2 {
	width: 45%;
	right: 35%;
	top: 40%;
	overflow: hidden;
	display: none;
}

#preview-proj3 {
	width: 60%;
	right: 65%;
	top: 65%;
	overflow: hidden;
	display: none;
}

#preview-pk {
	width: 55%;
	left: 65%;
	top: 50%;
	overflow: hidden;
	display: none;
}
